body {
    margin: 0;
    padding: 0;
    background-image: url("/assets/img/128391-turquoise-and-white-abstract-random-lines-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

